:root{
    --card: #0b1220;
    --accent: #5aa7de;
    --text: #ffffff;
    --muted: #9aa6b2;
  }

  *:not(.btn):not(.initial):not(.grid):not(body){
    margin: 5%;
    max-height: 100%;
  }
  
  html,body{
    margin:0; 
    padding: 0;
    overflow: hidden;
    color: rgb(252, 252, 255);
  }
  body{
    display:flex; flex-direction:column; align-items:center; padding:18px 18px 80px 18px !important; 
    justify-content: start;
  }
  header{
    width:100%; max-width:900px;
    display:flex; align-items:center; justify-content:flex-start; flex-direction: column;
    padding: 0 !important;  }
  h1{
    margin-top: -12px !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    font-size: 40pt !important; 
    font-weight: 100;
    font-family: 'instrument serif', serif;
    overflow: hidden;
    text-align: center;
    width: 100%;
    padding: 0 !important;
  }
  i, em{
    margin: 0 !important;
  }
  
  .fondito{
    position: absolute;
    overflow: hidden;
    height: 100vh;
    width: 120%;
    z-index: -2;
    top: 0 !important;
    border-radius: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    background-size: cover, cover; /* cover para cada fondo */
    background-repeat: no-repeat, no-repeat; /* opcional */
    background-position: center, center; /* opcional */
  }

  .note{font-size:12px; text-align: center; font-family: 'Courier New', Courier, monospace; margin-top: -10px !important;}
  
  .layout{
   width:100%;
   align-items: center;
  }
  .grid{
    display:grid;
    grid-template-columns:repeat(2,1fr) ;
  }
  .cell{
    position:relative;
    border-radius:10px; 
    overflow:hidden;
    display:flex; 
    align-items:center; 
    justify-content:center;
    border:6px solid transparent;
    aspect-ratio: 1 / 1 !important;
  }
  .cell img video{
    aspect-ratio: 1/1 !important;
    width: 100%;
    height: 100%;
  }
  
  /* Bordes de colores por orden */
  .cell:nth-child(2){ border-color:#DB3845; } /* rojo */
  .cell:nth-child(3){ border-color:#FFBB32; } /* amarillo */
  .cell:nth-child(4){ border-color:#9AC22B; } /* verde */
  .cell:nth-child(5){ border-color:#43aed2; } /* celeste */
  .cell:nth-child(6){ border-color:#6068ff; } /* azul suave */
  .cell:nth-child(7){ border-color:#FFB3C7; } /* rosa */
  
  video,img:not(.fondito){
      object-fit: cover;
  width: 200% !important;
  border-radius: 0;
  object-fit: fill !important;
  transform: scaleX(-1);
  }
  
  .btn{
    width: 100%;
    height: 100%;
    font-size: 16px !important;
    background:rgba(255,255,255,0.08);
    border:1px solid rgba(255,255,255,0.1);
    padding:8px 12px;
    border-radius: 40px;
    font-family: 'Courier New', Courier, monospace;
    color:white; cursor:pointer;
    backdrop-filter:blur(4px);
    transition:opacity .2s, background .2s;
  }
  .collage-btn-container{
    color: white;
  }
  .btn.capture{
    background: transparent !important;
    transition: none !important;
    backdrop-filter: none !important;
    border-radius: 0 !important;
  }
  .btn.start{
    border-radius: 0 !important;
  }
  
  .btn:active{transform:scale(0.97);}
  .preview .btn.capture{
    position:absolute; background: transparent !important; border-radius: 0;
  }
  .result .delete{
    position:absolute; top:1px; left:0.2px;
    border:none; border-radius:50%; color:white;
    width:26px; height:26px; cursor:pointer;
  }
  .result{
    transform: scaleX(-1);
    aspect-ratio: 1/1 !important;
  }
  .result img{
    object-fit: cover !important;
  }
  .initial, .preview, .result{
    width:100%; height:100%; display:flex;
    align-items:center; justify-content:center; object-fit: cover;
  }
  .delete{
    padding-bottom: 3px;
    align-items: center; justify-content: center; 
  }

  .cell:nth-child(2) .delete { background: rgba(219, 56, 69, 0.4); }   /* rojo semitransparente */
  .cell:nth-child(3) .delete { background: rgba(255, 187, 50, 0.4); }  /* amarillo semitransparente */
  .cell:nth-child(4) .delete { background: rgba(154, 194, 43, 0.4); }  /* verde semitransparente */
  .cell:nth-child(5) .delete { background: rgba(67, 174, 210, 0.4); }  /* celeste semitransparente */
  .cell:nth-child(6) .delete { background: rgba(96, 104, 255, 0.4); }  /* azul semitransparente */
  .cell:nth-child(7) .delete { background: rgba(255, 179, 199, 0.4); } /* rosa semitransparente */
  
  .collage-btn-container{
    display:flex; justify-content:center;
    margin-top:60px;
  }
  #downloadCollageBtn{
    font-weight:bold;
  }
  #downloadCollageBtn.disabled{
    opacity:0.4;
    background:rgb(146, 183, 189);
    border-radius: 30px;
    border: white solid 1px;
    cursor:not-allowed;
    color: white !important;
  }
  #downloadCollageBtn:not(.disabled){
    background:var(--accent);
  }
  
  @media(max-width:480px){
    h1{font-size:18px;}
  }
canvas{
  transform: scaleX(-1);
}